# Full reference https://github.com/foundry-rs/foundry/tree/master/crates/config

[profile.default]
  auto_detect_solc = false
  block_timestamp = 1_738_368_000 # Feb 1, 2025 at 00:00 GMT
  bytecode_hash = "none"
  evm_version = "shanghai"
  cbor_metadata = false
  fuzz = { runs = 1_000 }
  gas_reports = ["*"]
  optimizer = true
  optimizer_runs = 10_000
  out = "out"
  script = "script"
  solc = "0.8.28"
  src = "src"
  test = "tests"
  ignored_error_codes = [3628]

[profile.ci]
  fuzz = { runs = 10_000 }
  verbosity = 4

[etherscan]
  mainnet = { key = "${ETHERSCAN_API_KEY}" }
  holesky = { key = "${ETHERSCAN_API_KEY}" }
  hoodi = { key = "${ETHERSCAN_API_KEY}", chain = 560048, url = "${HOODI_ETHERSCAN_API}" }

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "all"
  number_underscore = "thousands"
  quote_style = "double"
  tab_width = 4
  wrap_comments = true

[rpc_endpoints]
  mainnet = "${MAINNET_RPC}"
  holesky = "${HOLESKY_RPC}"
  hoodi = "${HOODI_RPC}"
